نورة تمسك ايد اخوها : تكفي خالد واقف شوف نحن بنروح العصر وبنجي الساعة 7 يعني ما بنتأخر يالله خالد
خالد : امم اذا بتروحون العصر اوكيه ما عندي مانع بس لا تتأخرون
يوسف تكتف : معلوم عروستنا دلوعة يبا لها دهر تتخذ قرار
جدوه : عراحتها هذا عرس هب لعبة خلها عراحتها