This is a great neighborhood, I'd like to live here for some time.
I actually believe it is an alright area, I don't know about you.
The schools are not great though, buses are always late.
You want to bet?